/* GUEST - Header */
header {
  background: linear-gradient(to left, rgb(74, 80, 181), rgb(50, 53, 101) 40%);
  color: rgb(255, 255, 255);
}

.css-19r6kue-MuiContainer-root,
.css-1cndkqf-MuiToolbar-root {
  min-height: 60px !important;
  height: 60px;
  display: flex;
  align-items: center;
}

.css-19r6kue-MuiContainer-root,
.css-1cndkqf-MuiToolbar-root {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

/* GUEST - Footer */
.footer-basic {
  background: linear-gradient(to left, rgb(74, 80, 181), rgb(50, 53, 101) 40%);
}

#internal-links,
.social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

footer>ion-social-instagram,
a,
p {
  margin: 10px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.copyright {
  padding: 30px;
  color: rgb(255, 255, 255);
}

/* GUEST - Home - Carousel */
.carousel-img {
  display: block;
  height: 250px;
  width: 100%;
}

.css-1ps6pg7-MuiPaper-root {
  padding: 0 !important;
}

/* GUEST - Contact - Google Map */
.map {
  position: absolute;
  z-index: 1;
}

.marker {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 9px;
  height: 9px;
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 100%;
  user-select: none;
  transform: translate(-50%, -50%);
  z-index: 2;
}

/* GUEST - Login */
.form-control {
  margin: 10px !important;
}

.css-16zke7w-MuiFormLabel-root-MuiInputLabel-root,
.css-1vg2kz5-MuiInputBase-root-MuiOutlinedInput-root,
.css-14jqoni-MuiFormLabel-root-MuiInputLabel-root {
  color: white !important;
}

fieldset {
  border: 1px solid white !important;
}

/* ADMIN - Time Picker Icon */
.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root>.css-i4bv87-MuiSvgIcon-root {
  color: #b39ddb !important;
}